$arrow_width : 50px;

$vignette_width : 200px;
$vignette_height : 150px;
$vignette_num : 7;

$arrow_height : $vignette_height;
$main_column_width : $vignette_width*4 + $arrow_width*2;

$header_height : 100px;

$logo_height : $header_height;
$logo_width : $logo_height*1.3906;

$link_color: #FFF;
$back_color: #000;

$breakpoints : (
    mobile: $main_column_width,
);

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)){
      @content;
  }
}

body
{
	height: 100%;	
	margin:0px;
	background-color: $back_color;
	color: $link_color;
}

footer
{
	text-align: center;
	padding-bottom:250px;
}

.main_column
{
	width: $main_column_width;
	margin:auto;
	@include mobile-only{
		width: 100%;
	}

	margin-top:$header_height + 10;
}

#top, #cat_anchor
{
	position:relative;
	top:-$header_height - 10;
}

time
{
	font-weight:normal;
}

/* --- HEAD --- */

.header
{
	display:flex;
	justify-content: space-between;
	position:fixed;
	z-index:1;
	top:0px;
	background-color: $back_color;

	height:$header_height;
	width:$main_column_width;
	@include mobile-only{
		width: 100%;
	}
}


.logo
{
	background-image: url("../medias/logo.png");
	background-repeat: no-repeat;
	background-position: top left;
	background-size: $logo_width $logo_height;
	width: $logo_width;
	height: $logo_height;
}

.menu
{
	flex: auto;
	display:flex;
	justify-content: center;
	align-items: center;
	padding:5px;

	&__space
	{
		width:25px;
	}
}

a {
  	color: $link_color;

	&:visited {
  		color: $link_color;
	}
}

/* --- BEST FILM --- */

%poster_background_opacity
{
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
}

.poster
{
	margin: 10px 0 10px 0;
	background-image: url("../medias/default-poster.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	height:400px;

	display:flex;
	overflow: auto;

	border-radius: 20px;

	&--yellow_border
	{
		border: 2px solid Yellow;
	}
	
	&__infos
	{
		flex: 2;
		padding-left:20px;
		@extend %poster_background_opacity;
	}

	&__desc
	{	
		max-height: 140px;
		overflow: hidden;
	}
		
	&__title
	{
		font-size:3rem;
		@include mobile-only{
			font-size:2rem;
		}
	}
	
	&__button
	{
	  	cursor: pointer;
		margin:20px 0 0 0;
	}

	& img
	{
		flex: 3;
		object-fit: contain;
		@extend %poster_background_opacity;
	}
}


/* --- CATEGORIES --- */

.category
{
	margin: 10px 0 10px 0;
	
	&--green_border
	{
		border: 2px solid rgb(0,255,0);
		border-radius: 20px;
		padding-bottom: 15px;
	}
	
	&--orange_border
	{
		border: 2px solid rgb(255,112,0);
		border-radius: 20px;
		padding-bottom: 15px;
	}

	& > h2
	{
		text-align:center;
	}
}

%mirrorH {
    // -moz-transform: scaleX(-1);
    // -o-transform: scaleX(-1);
    // -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

%right_arrow
{
	background-image: url("../medias/arrow-right-white.png");
	background-repeat: no-repeat;
	background-size: $arrow_width $vignette_height;
	width: $arrow_width;
	height: $vignette_height;
	cursor:pointer;
}

.carrousel
{
	display:flex;

	&__scroll
	{
		// overflow-x: scroll;
		overflow-x: hidden;
		flex:1;
	}
	
	&__scroll_content
	{
		display: flex;
		min-width: ($vignette_width * $vignette_num);
		@include mobile-only{
			min-width: ($vignette_width/2 * $vignette_num);
		}
	}

	&__left_arrow
	{
		@extend %right_arrow;
		@extend %mirrorH;
	}

	&__right_arrow
	{
		@extend %right_arrow;
	}
	
	&__vignette
	{
		background-image: url("../medias/default-poster.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	  	cursor: pointer;
	
		height: $vignette_height;
		width: $vignette_width;
	
		@include mobile-only{
			width: $vignette_width/2;
		}
	
		position:relative;
	
		& div {
			width:100%;
			background-color: rgb(255,255,255);
			background-color: rgba(255,255,255,0.75);
			color:black;
			text-align:center;
			overflow: hidden;
	  		text-overflow: ellipsis;
			white-space: nowrap;
	
			position:absolute;
			bottom:0;
			
		}
	}
}

/* --- MODALS --- */

@keyframes animatetop {
  from {top: -300px; opacity: 1}
  to {top: 0; opacity: 1}
}

.modal
{
       	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
  	z-index: 2; /* Sit on top */
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	// background-color: rgb(0,0,0); /* Fallback color */
  	// background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

	animation-name: animatetop;
  	animation-duration: 0.4s;

	&__close
	{
	  	color: #aaa;
	  	float: right;
	  	font-size: 28px;
	  	font-weight: bold;
	
		position: absolute;
		right:20px;

		&:hover,
		&:focus
		{
		  	color: white;
		  	text-decoration: none;
		  	cursor: pointer;
		}
	}

	&__content
	{
	  	background-color: #000;
		top:50%;
	
	  	margin: auto;
	  	padding: 20px;
	  	border: 1px solid #888;
	  	width: 80%;
		display:flex;
		flex-wrap: wrap;
		position: relative;
  		transform: translateY(-50%);
		border-radius: 20px;
		@include mobile-only{
  			transform: translateY(0);
			top:0px;
	  		width: auto;
			border-radius: 0px;
		}
	}
	
	&__image // 182 x 268
	{
		flex: 0 0;
	}
	
	&__infos
	{
		flex:1 1;
		min-width:200px;
		padding-left:20px;
		@include mobile-only{
			padding: 0;
		}
		& p {
			font-weight:bold;
			& span {
				font-weight:normal;
			}
		}
	
		& h2 {
			margin-top:0px;
		}	
	}
	
	&__ratings
	{
		font-weight:bold;
		& span {
			font-weight:normal;
		}

		&--desktop
		{
			display:block;
			@include mobile-only{
				display:none;
			}
		}
		
		&--mobile
		{
			display:none;
			@include mobile-only{
				display:block;
			}
		}
	}	
}
